
@font-face {
    font-family: quicksand;
    src: url(quicksand-v30-latin-regular.woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: quicksand, sans-serif;
}
nav{
    border: 3px solid #6E49EA;
    border-left: 0px;
    border-right: 0px;
    height: 60px;
    background-color: #303330;
    position: sticky;
    top: 0;
    text-align: center;
}
.bar{
    display: inline-block;
    padding: 15px;
    font-weight: bold;
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    margin-left: -150px;    
}

a{
    color: #f6f6f6;
    text-decoration: none;
    padding: 15px;
}
a:hover{
    background-color: #6E49EA;   
}

.hero{
    text-align: center;
    width: 45%;
    margin: 50px auto;
}
h1{
    margin-bottom: 10px;
}

h5{
    line-height: 25px;
}

main{
    margin-top: 25px;
    height: fit-content;
    background-color: #f6f6f6;
}

.sr h4{
    margin: 15px auto;
    border-bottom: #6E49EA 3px solid;
    max-width: 214px;
    text-align: center;
}
h4{
    font-weight: bolder;
    font-size: 23px;    
}
.row{
    width: 100%;
    margin: 10px 0;
}
.row img{
    border: #303330 3px solid;
    width: 47%;
    margin: 0 5px;
}
.jumbo{
    margin: 9px 0 0 0;
    float: right;
    width: 54.5%;
}
.jumbo img{
    border: #303330 3px solid;
    width: 100%;
}
.in{
    display: inline-block;
    width: 45%;
}
.slide{
    margin: 0px 4%;
}
.content{
    padding: 58px;
    background-color: #212429;
}
.content article{
    color: #f6f6f6;
    margin: 48px;
    display: inline-block;
    max-width: 25%;
}
h3{
    font-weight: bold;
    font-size: 33px;
}