
@font-face {
    font-family: quicksand;
    src: url(quicksand-v30-latin-regular.woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: quicksand, sans-serif;
}
nav{
    border: 3px solid #6E49EA;
    border-left: 0px;
    border-right: 0px;
    height: 60px;
    background-color: #303330;
    position: sticky;
    top: 0;
    text-align: center;
}
.bar{
    display: inline-block;
    padding: 15px;
    font-weight: bold;
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    margin-left: -150px;    
}

a{
    color: #f6f6f6;
    text-decoration: none;
    padding: 15px;
}
a:hover{
    background-color: #6E49EA;   
}

.hero{
    text-align: center;
    width: 45%;
    margin: 50px auto;
}
h1{
    margin-bottom: 10px;
}

h5{
    line-height: 25px;
}
